
header {
    display: flex;
    align-items: center;
    background-color: gray;
}
nav {
    width: 80%;
}
nav ul {
    list-style: none;
    display: flex;
}
header div {
    margin: auto;
}
.container {
    width: auto;
    display: flex;
}
.card {
    width: 20%;
}