body {
    font-size: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: auto;
}
nav {
    margin-left: -45px;
}
nav ul {
    list-style: none;
    display: flex;
}
ul li {
    margin: auto 5px;
}
nav a {
    text-decoration: none;
    color: black;
}
header div {
    display: flex;
    margin-top: 0px;
    font-size: 100%;
}
header i {
    height: 15px;
    margin: auto 10px;
}

.cardproduct {
    display: flex;
}
.productimage {
    border: 2px solid black;
    width: 55%;
}
.producti {
    width: 100%;
}
.versionsprod {
    display: flex;
    align-items: flex-start;
    border-top: 2px solid black;
}

.price {
    width: 40%;
    margin: auto 30px;
}
.price div {
    display: flex;
    justify-content: center;
}
.price h1 {
    margin: auto 20px;
}
.price h4 {
    margin: 10px 40px;
}
.b1 {
    width: 120px;
    height: 30px;
    margin: 20px 10px;
}
#choosesize {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
#quantity {
    width: 25%;
    height: 25px;
    margin-bottom: 10px;
}
.add {
    width: 80%;
    height: 30px;
    align-self: center;
    background-color: rgb(98, 98, 192);
    border-radius: 10px;
    margin: 10px auto;
}
.versionsprod img {
    max-width: 70px;
    width: 70px;
    margin: 5px;
}
.relatedpro {
    display: flex;
    justify-content: space-evenly;
}

.relatedpro img {
    max-height: 200px;
    width: 17%;
    margin: 10px;
}
footer {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 10px;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.349);
}

footer div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 30%;
}

.nav-footer {
    align-items: center;
    height: auto;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-self {
    align-self: flex-end;
}

.flex-align-end {
    justify-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.has-element-at-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.has-item-centered {
    display: flex;
    justify-content: center;
}

.has-text-center {
    text-align: center;
}

ul {
    list-style: none;
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    width: 100%;
}

.flex-justify-items-end {
    justify-content: flex-end;
}
button {
    background-color: rgb(68, 68, 218);
    color: white;
    border-radius: 5px;
}

a {
    text-decoration-line: none;
    color: black;
}